In [61]:
import pandas as pd
from scipy.io import arff
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [62]:
# Load the ARFF file
y1_data = arff.loadarff('c4_data/1year.arff')

# Convert the data to a Pandas DataFrame
y1_df = pd.DataFrame(y1_data[0]).add_suffix('_y1')

In [63]:
# Load the ARFF file
y2_data = arff.loadarff('c4_data/2year.arff')

# Convert the data to a Pandas DataFrame
y2_df = pd.DataFrame(y2_data[0]).add_suffix('_y2')

In [64]:
# Load the ARFF file
y3_data = arff.loadarff('c4_data/3year.arff')

# Convert the data to a Pandas DataFrame
y3_df = pd.DataFrame(y3_data[0]).add_suffix('_y3')

In [65]:
# Load the ARFF file
y4_data = arff.loadarff('c4_data/4year.arff')

# Convert the data to a Pandas DataFrame
y4_df = pd.DataFrame(y4_data[0]).add_suffix('_y4')

In [66]:
# Load the ARFF file
y5_data = arff.loadarff('c4_data/5year.arff')

# Convert the data to a Pandas DataFrame
y5_df = pd.DataFrame(y5_data[0]).add_suffix('_y5')

In [67]:
y1_df

,Attr1_y1,Attr2_y1,Attr3_y1,Attr4_y1,Attr5_y1,Attr6_y1,Attr7_y1,Attr8_y1,Attr9_y1,Attr10_y1,...,Attr56_y1,Attr57_y1,Attr58_y1,Attr59_y1,Attr60_y1,Attr61_y1,Attr62_y1,Attr63_y1,Attr64_y1,class_y1
0,0.200550,0.37951,0.39641,2.04720,32.3510,0.388250,0.249760,1.330500,1.13890,0.504940,...,0.121960,0.397180,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.42770,b'0'
1,0.209120,0.49988,0.47225,1.94470,14.7860,0.000000,0.258340,0.996010,1.69960,0.497880,...,0.121300,0.420020,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.98700,b'0'
2,0.248660,0.69592,0.26713,1.55480,-1.1523,0.000000,0.309060,0.436950,1.30900,0.304080,...,0.241140,0.817740,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.20780,b'0'
3,0.081483,0.30734,0.45879,2.49280,51.9520,0.149880,0.092704,1.866100,1.05710,0.573530,...,0.054015,0.142070,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.54970,b'0'
4,0.187320,0.61323,0.22960,1.40630,-7.3128,0.187320,0.187320,0.630700,1.15590,0.386770,...,0.134850,0.484310,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.89800,b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7022,0.018371,0.47410,-0.13619,0.60839,-18.4490,0.018371,0.018371,0.972030,1.01210,0.460840,...,0.011909,0.039866,0.98809,0.274140,73.5050,79.2370,31.268,11.6730,5.14890,b'1'
7023,-0.013359,0.58354,-0.02265,0.92896,-42.2320,-0.013359,-0.015036,0.562890,0.98904,0.328470,...,-0.011082,-0.040671,1.01110,0.805920,10.5990,7.1740,94.092,3.8792,1.75720,b'1'
7024,0.006338,0.50276,0.43923,1.87360,9.7417,0.006338,0.012022,0.983560,1.00830,0.494490,...,0.008258,0.012817,0.99174,0.000000,10.4700,6.0759,51.019,7.1542,62.00100,b'1'
7025,-0.041643,0.84810,-0.12852,0.57485,-121.9200,0.000000,-0.036795,0.179010,0.42138,0.151820,...,-0.232720,-0.274290,0.98788,3.593100,39.7030,3.1420,261.850,1.3939,0.51005,b'1'
7026,0.014946,0.94648,0.03211,1.03630,-20.5810,0.000000,0.015260,0.056357,2.96940,0.053341,...,0.015705,0.280210,0.97443,1.179200,15.0360,4.1741,108.640,3.3599,35.11800,b'1'

In [68]:
# Merge the dataframes into one df
data = pd.merge(y1_df, y2_df, left_index=True, right_index=True)
data = pd.merge(data, y3_df, left_index=True, right_index=True)
data = pd.merge(data, y4_df, left_index=True, right_index=True)
data = pd.merge(data, y5_df, left_index=True, right_index=True)

In [69]:
data

,Attr1_y1,Attr2_y1,Attr3_y1,Attr4_y1,Attr5_y1,Attr6_y1,Attr7_y1,Attr8_y1,Attr9_y1,Attr10_y1,...,Attr56_y5,Attr57_y5,Attr58_y5,Attr59_y5,Attr60_y5,Attr61_y5,Attr62_y5,Attr63_y5,Attr64_y5,class_y5
0,0.200550,0.37951,0.396410,2.04720,32.3510,0.388250,0.249760,1.33050,1.1389,0.504940,...,0.080955,0.275430,0.91905,0.002024,7.2711,4.7343,142.760,2.5568,3.25970,b'0'
1,0.209120,0.49988,0.472250,1.94470,14.7860,0.000000,0.258340,0.99601,1.6996,0.497880,...,-0.028591,-0.012035,1.00470,0.152220,6.0911,3.2749,111.140,3.2841,3.37000,b'0'
2,0.248660,0.69592,0.267130,1.55480,-1.1523,0.000000,0.309060,0.43695,1.3090,0.304080,...,0.123960,0.192290,0.87604,0.000000,8.7934,2.9870,71.531,5.1027,5.61880,b'0'
3,0.081483,0.30734,0.458790,2.49280,51.9520,0.149880,0.092704,1.86610,1.0571,0.573530,...,0.418840,-0.796020,0.59074,2.878700,7.6524,3.3302,147.560,2.4735,5.92990,b'0'
4,0.187320,0.61323,0.229600,1.40630,-7.3128,0.187320,0.187320,0.63070,1.1559,0.386770,...,0.240400,0.107160,0.77048,0.139380,10.1180,4.0950,106.430,3.4294,3.36220,b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,0.011007,0.30894,0.049314,1.27610,-43.6320,0.000000,0.024241,2.23690,1.0090,0.691060,...,0.020169,0.043904,1.01220,1.259400,13.4720,12.4320,49.117,7.4313,2.27990,b'1'
5906,-0.436320,0.90119,-0.142970,0.84135,-44.8010,-0.141380,-0.436320,0.10964,3.4018,0.098808,...,-0.064073,1.482000,1.06410,-0.018084,110.7200,44.7590,81.220,4.4940,5.13050,b'1'
5907,0.025200,0.79799,-0.102750,0.86431,-20.1340,0.005218,0.044988,0.25316,4.6587,0.202010,...,0.148880,0.548240,0.85112,-0.522430,9.8526,3.4892,207.870,1.7559,9.95270,b'1'
5908,0.114830,0.65498,0.038916,1.06670,-53.0660,0.116150,0.122610,0.40355,1.1079,0.264320,...,-0.183200,-1.167700,1.18320,6.092400,13.8860,6.0769,83.122,4.3911,0.95575,b'1'
5909,0.133960,0.63982,0.250670,1.45320,12.4860,0.000000,0.167780,0.56294,2.4881,0.360180,...,-0.052186,-0.227250,1.05220,0.003196,7.7332,4.7174,136.850,2.6672,2.79270,b'1'

In [70]:
data['b'] = data[['class_y1', 'class_y2', 'class_y3', 'class_y4', 'class_y5']].astype(int).max(axis=1)

In [85]:
nan_data = data[data['b'].isna()]
nan_data

Empty DataFrame
Columns: [Attr1_y1, Attr2_y1, Attr3_y1, Attr4_y1, Attr5_y1, Attr6_y1, Attr7_y1, Attr8_y1, Attr9_y1, Attr10_y1, Attr11_y1, Attr12_y1, Attr13_y1, Attr14_y1, Attr15_y1, Attr16_y1, Attr17_y1, Attr18_y1, Attr19_y1, Attr20_y1, Attr21_y1, Attr22_y1, Attr23_y1, Attr24_y1, Attr25_y1, Attr26_y1, Attr27_y1, Attr28_y1, Attr29_y1, Attr30_y1, Attr31_y1, Attr32_y1, Attr33_y1, Attr34_y1, Attr35_y1, Attr36_y1, Attr37_y1, Attr38_y1, Attr39_y1, Attr40_y1, Attr41_y1, Attr42_y1, Attr43_y1, Attr44_y1, Attr45_y1, Attr46_y1, Attr47_y1, Attr48_y1, Attr49_y1, Attr50_y1, Attr51_y1, Attr52_y1, Attr53_y1, Attr54_y1, Attr55_y1, Attr56_y1, Attr57_y1, Attr58_y1, Attr59_y1, Attr60_y1, Attr61_y1, Attr62_y1, Attr63_y1, Attr64_y1, class_y1, Attr1_y2, Attr2_y2, Attr3_y2, Attr4_y2, Attr5_y2, Attr6_y2, Attr7_y2, Attr8_y2, Attr9_y2, Attr10_y2, Attr11_y2, Attr12_y2, Attr13_y2, Attr14_y2, Attr15_y2, Attr16_y2, Attr17_y2, Attr18_y2, Attr19_y2, Attr20_y2, Attr21_y2, Attr22_y2, Attr23_y2, Attr24_y2, Attr25_y2, Attr26_y2, Attr27_y2, Attr28_y2, Attr29_y2, Attr30_y2, Attr31_y2, Attr32_y2, Attr33_y2, Attr34_y2, Attr35_y2, ...]
Index: []

[0 rows x 326 columns]

In [79]:


# Split data into features (X) and multiple targets (y)
X = data.drop(columns='b')
y = data['b']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

# Define the parameter grid for Grid Search
param_grid = {
    'max_depth': [None, 10, 20, 30],  # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],  # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4]  # Minimum number of samples required to be at a leaf node
}

# Create a Random Forest classifier
rf_classifier = RandomForestClassifier(random_state=10, n_estimators=10, n_jobs= -1)

# Create Grid Search with cross-validation
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, scoring='accuracy')

# Fit the model to the training data
grid_search.fit(X_train, y_train)

# Print the best parameters and best score from the Grid Search
print("Best Parameters: ", grid_search.best_params_)
print("Best Score: ", grid_search.best_score_)

C:\Users\rwbut\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
180 fits failed out of a total of 180.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
180 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\rwbut\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\rwbut\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 327, in fit
    X, y = self._validate_data(
  File "C:\Users\rwbut\anaconda3\lib\site-packages\sklearn\base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "C:\Users\rwbut\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 964, in check_X_y
    X = check_array(
  File "C:\Users\rwbut\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 800, in check_array
    _assert_all_finite(array, allow_nan=force_all_finite == "allow-nan")
  File "C:\Users\rwbut\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 114, in _assert_all_finite
    raise ValueError(
ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\rwbut\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [89]:

# Define the target variables for classification
target_variables = ['class_y1', 'class_y2', 'class_y3', 'class_y4', 'class_y5']  # Add all desired target variables

# Split data into features (X) and multiple targets (y)
X = data.drop(columns=target_variables)
y = data[target_variables]

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

AttributeError: 'tuple' object has no attribute 'drop'

In [ ]:
# Create and train a MultiOutputClassifier with a Random Forest Classifier as the base estimator
clf = MultiOutputClassifier(RandomForestClassifier(n_estimators=100, random_state=42))
clf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = clf.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

# Print the evaluation results
print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:\n", classification_report_str)